.popup-pic__container {
  max-width: max-content;
  max-height: max-content;
  position: relative;
  box-sizing: border-box;
  align-self: center;
  flex-direction: column;
}

/* @media screen and (max-width: 510px) {
  .popup__container {
    max-width: 282px;
    padding: 25px 22px;
  }
} */
