.travel-card__like {
  width: 22px;
  height: 19px;
  background-color: #fff;
  border-style: none;
  background-image: url(../../../images/like_icon.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
  outline: none;
}

.travel-card__like:hover {
  opacity: 0.5;
  transition: 0.5s;
  cursor: pointer;
}
